<th:block th:fragment="navbar">
    <div>
        <nav class="navbar navbar-expand-lg">
            <img src="https://s05.s3c.es/imag/_v0/770x420/5/7/e/490x_banderas-idiomas.jpg"
                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""
                height="60px" width="60px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <ul class="menu">

                        <th:block
                            th:if="${session.usuarioLogueado.nivelUsuario==1}or${session.usuarioLogueado.nivelUsuario==3}">
                            <li class="nav-item active"><a th:href="@{/idiomas}">Idiomas</a></li>
                        </th:block>



                        <th:block th:if="${session.usuarioLogueado.nivelUsuario==1}">
                            <li class="nav-item active"><a th:href="@{/mostrarAlumnos}">Alumnos registrados</a></li>
                            <li class="nav-item active"><a th:href="@{/mostrarProfesores}">Profesores registrados</a>
                            </li>
                        </th:block>


                        <th:block th:if="${session.usuarioLogueado.nivelUsuario==3}">
                            
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        th:text="${alumnoLogueado.nombre}+' '+${alumnoLogueado.apellidoPaterno}"></a>
                                        
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <th:block th:if="${alumnoLogueado.idCurso==null}">
                                            <div class="alert alert-danger" role="alert">
                                               Sin Curso
                                            </div>
                                        </th:block>
                                        <th:block th:unless="${alumnoLogueado.idCurso==null}">
                                            <a class="dropdown-item" th:href="@{'/curso/'+${alumnoLogueado.idCurso.id}+'/verAlumnos'}">MiCurso</a>
                                        </th:block>
                                        <a class="dropdown-item" th:href="@{/logout}">Terminar Sesion</a>
                                        <!--<form action="logout" method="post">
                                            <input class="dropdown-item" type="submit" value="Terminar Sesion">
                                        </form> -->
                                    </div>
                                </li>
                            
                        </th:block>

                        <th:block th:if="${session.usuarioLogueado.nivelUsuario==2}">
                            <th:block th:each="profe: ${session.usuarioLogueado.getProfesorList()}">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        th:text="${profe.nombre}"></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" th:href="@{/logout}">Terminar Sesion</a>

                                    </div>
                                </li>
                            </th:block>
                        </th:block>

                        <th:block th:if="${session.usuarioLogueado.nivelUsuario==1}">
                            <th:block th:each="admin: ${session.usuarioLogueado.getAdminList()}">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        th:text="${admin.nombre}"></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" th:href="@{/logout}">Terminar Sesion</a>
                                    </div>
                                </li>
                            </th:block>
                        </th:block>





                    </ul>

                </ul>
                <ul class="navbar-nav ml-auto">
                    <ul class="menu">

                        <th:block th:if="${session.usuarioLogueado.nivelUsuario==3}">
                            <li>
                                <font size="4" color="blue" face="Comic Sans MS,arial">
                                    <a>Alumno</a>
                                </font>
                            </li>
                        </th:block>

                        <th:block th:if="${session.usuarioLogueado.nivelUsuario==2}">
                            <li>
                                <font size="4" color="blue" face="Comic Sans MS,arial">
                                    <a>Profesor</a>
                                </font>
                            </li>
                        </th:block>

                        <th:block th:if="${session.usuarioLogueado.nivelUsuario==1}">
                            <li>
                                <font size="4" color="blue" face="Comic Sans MS,arial">
                                    <a>Admin</a>
                                </font>
                            </li>
                        </th:block>

                    </ul>
                </ul>



            </div>
        </nav>
    </div>
</th:block>

<th:block th:fragment="navbarIndex">
    <div>
        <nav class="navbar navbar-expand-lg">
            <img src="https://s05.s3c.es/imag/_v0/770x420/5/7/e/490x_banderas-idiomas.jpg"
                class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""
                height="60px" width="60px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <ul class="menu my-2 my-lg-0">
                        <li><a th:href="@{/inicio}">Inicio</a></li>
                        <li><a th:href="@{/login}">Ingresar</a></li>
                    </ul>

                </ul>
            </div>
        </nav>
    </div>
</th:block>