.card-form{
	border:2px rgb(0, 0, 0) solid;
	margin-left: 150px;
	margin-right: 180px;
	margin-top: 20px;
	margin-bottom: 10px;
	height: 500px;
	padding: 70px;
	color: rgb(0, 0, 0);
	background-color: rgb(177, 177, 177);
}

.form-control{
	border:1px black solid;
	width: 500px;
	height: 35px;
}