.fondo{
	background-image: url("https://www.cinconoticias.com/wp-content/uploads/idiomas-que-m%C3%A1s-se-hablan-en-el-mundo.jpg");
	-webkit-filter: blur(2px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: (7px);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 5px 15px;
	color: #ffffff;
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}
.submenu{
	position: absolute;
	background: #333333;
	width: 200%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	z-index: 1000;
}

.submenu li a{
	
	display: block;
	padding: 10px;
	color: #fff;
    text-decoration: none;
    
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
.navbar{
    background-color:#333333;
}