.card-body{
	border:2px rgb(0, 0, 0) solid;
	padding: 50px;
	color: rgb(0, 0, 0);
	background-color: rgb(177, 177, 177);
}

.card-header{
	border:1px rgb(0, 0, 0) solid;
	color: rgb(0, 0, 0);
    background-color: rgb(177, 177, 177);
    
}

.card-header h1{
    text-align: center;
    color: rgb(255, 255, 255);
}

.isDisabled {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
  }

