<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/tablas.css"> 
  </head>

  <div class="fondo"></div> 

  <body>
      
    <header>
        <th:block th:replace="fragments/navbar :: navbar"></th:block>
    </header>
    
    <div class="container pt-5 pb-5">
        <div class="card-header">
            <h1 th:text="*{titulo}"></h1>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>nombre</th>
                        <th>rut</th>
                        <th>curso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="profesor: ${profesores}">
                        <td th:text="*{profesor.nombre}"></td>
                        <td th:text="*{profesor.rut}"></td>
                        <th:block th:if="${profesor.idCurso}==null">
                            <td>Sin curso</td>
                        </th:block>
                        <th:block th:if="${profesor.idCurso}!=null">
                            <td th:text="*{profesor.idCurso.idIdioma.nombre}+' '+*{profesor.idCurso.nivel}"></td>
                        </th:block>
                        <td>
                            <a th:href="@{'/editarProfesor/'+*{profesor.id}}" class="btn btn-sm btn-warning">editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a th:href="@{/registrarNuevoProfesor}" class="btn btn-sm btn-success float-right">Registrar profesor</a>
        </div>
        
    </div> 



    <footer>


    </footer>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>