<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/tablas.css">
</head>

<div class="fondo"></div>

<body>

    <header>
        <th:block th:replace="fragments/navbar :: navbar"></th:block>
    </header>

    <div class="container pt-2 pb-2">
        <div class="card-header">
            <h1 th:text="*{titulo}+' '+*{idioma.nombre}"></h1> 
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nivel</th>
                        <th>Cupos</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="i : ${idioma.getCursoList()}">
                        <td th:text="${i.nivel}"></td>
                        <td th:text="${i.cantidadActual}+'/'+${i.cantidadMaxima}"></td>
                        <td>
                            <th:block th:if="${session.usuarioLogueado.nivelUsuario==1}">
                                <a th:href="@{'/curso/'+${i.id}+'/verAlumnos'}" class="btn btn-sm btn-warning">ver</a>
                            </th:block>
                            <th:block th:if="${session.usuarioLogueado.nivelUsuario==3}">
                                
                                    <th:block th:if="${alumnoLogueado.idCurso==null}">
                                        <a  th:href="@{'/curso/'+${i.id}+'/agregarAlumnoAlCurso'}" class="btn btn-sm btn-warning" >Inscribir</a>
                                    </th:block>
                                    <th:block th:unless="${alumnoLogueado.idCurso==null}">
                                        <th:block th:if="${alumnoLogueado.idCurso.id==i.id}">
                                            <a th:href="@{'/curso/'+${i.id}+'/verAlumnos'}" class="btn btn-sm btn-warning">Ver mi curso</a>
                                        </th:block>
                                        <th:block th:unless="${alumnoLogueado.idCurso.id==i.id}">
                                            <button disabled class="btn btn-sm btn-warning" >Inscribir</button>
                                        </th:block>
                                    </th:block>
                                
                                
                            </th:block>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>



    <footer>


    </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>