<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/css/tablas.css">
</head>

<div class="fondo"></div>

<body>

  <header>
    <th:block th:replace="fragments/navbar :: navbar"></th:block>
  </header>

  <div class="container pt-4 pb-4">

    <div class="row m-2 justify-content-center">
      <div class="col-8">

        <div class="card-header">
          <div class="row">
            <div class="col-10">
              <h2 th:text="*{curso.idIdioma.nombre}+' '+*{curso.nivel}"></h2>
            </div>

            <th:block th:if="${session.usuarioLogueado.nivelUsuario==1}">
              <th:block th:if="${curso.getProfesorList().isEmpty()}">
                <th:block th:if="${profesoresSinCurso!=0}">
                  <div class="col">
                    <a th:href="@{'/curso/'+${curso.id}+'/agregarProfesorAlCurso'}"
                      class="btn btn-sm btn-success float-right">Añadir
                      profesor</a>
                  </div>
                </th:block>
                <th:block th:unless="${profesoresSinCurso!=0}">
                  <div class="col">
                      <button disabled class="btn btn-sm btn-warning" >Sin profesores</button>
                  </div>
                </th:block>
              </th:block>
            </th:block>

          </div>
        </div>

        <div class="card-body">
          <th:block th:if="${curso.getProfesorList().isEmpty()}">
            <h3>Sin profesor</h3>
          </th:block>
          <th:block th:unless="${curso.getProfesorList().isEmpty()}">
            <th:block th:each="p : ${curso.getProfesorList()}">
              <h3 th:text="'Profesor: '+${p.nombre}"></h3>
            </th:block>
          </th:block>

          <th:block class="card-text" th:if="${!curso.getAlumnoList().isEmpty()}">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>rut</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="a : ${curso.getAlumnoList()}">
                  <td th:text="${a.nombre}+' '+${a.apellidoPaterno}+' '+${a.apellidoMaterno}"></td>
                  <td th:text="${a.rut}"></td>
                </tr>
              </tbody>
            </table>
          </th:block>

          <th:block th:if="${session.usuarioLogueado.nivelUsuario==1}">
            <a th:href="@{'/idioma/'+*{curso.idIdioma.id}+'/verCursos'}"
              class="btn btn-sm btn-success float-right">Volver</a>
          </th:block>


          <th:block class="card-text" th:if="${curso.getAlumnoList().isEmpty()}">
            Este curso no tiene alumnos
          </th:block>
        </div>

      </div>
    </div>

  </div>



  </div>



  <footer>


  </footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>